@using BankWebsite.Models;
@{
    ViewBag.Title = "Dashboard";
    var currUser = System.Web.HttpContext.Current.Session["userCredentionals"] as User;
    var transactions = System.Web.HttpContext.Current.Session["Transactions"] as IEnumerable<Transaction>;
}


<div class="container" style="min-height:600px">
    <h2>Dashboard</h2>

    @if (currUser != null)
    {
        <div>
            Hi @currUser.Firstname
            @currUser.Lastname
        </div>
        <div>
            welcome to your personal area.
            Want to contact us? Click here.
        </div>
        <div class="balanceWidget">
            <div class="balanceWidgetHeader">
                <img src="~/images/money.png" class="logo" />
                <h2>Current Balance</h2>
            </div>
            <div class="balanceWidgetBody">
                <h2>@currUser.Balance $</h2>
            </div>
        </div>
    }

    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Operation Type</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transaction in transactions)
                {
                    <tr>

                        <td>@transaction.Date</td>
                        <td>@transaction.OperationType</td>
                        @if (transaction.OperationType == "Cash Withdraw")
                        {
                            <td style="color: red">-@transaction.Amount $</td>
                        }
                        else
                        {
                            <td style="color: green">+@transaction.Amount $</td>
                        }

                    </tr>

                }

        </table>
        <div style="margin-top: 20px">
            @for (int i = 1; i <= (transactions.Count() / 5); i++)
            {
                <a href="">@i</a>
            }

        </div>





    </div>


</div>